.header__drapdown {
    margin-top: 12px;
    pointer-events: none;
}

.header__item:hover .header__drapdown {
    pointer-events: auto !important;
}

.header-side {
    /*opacity: 1;*/
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

/* @media (min-width: 1200px) {
    .just-align .container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 1400px) {
    .just-align .container {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (min-width: 1600px) {
    .just-align .container {
        margin-left: 300px;
        margin-right: 300px;
    }
} */

/* index -> news */
.news__list .news__text {
    width: 90%;
}

.news__item:hover .news__subtitle {
    font-weight: bold;
    color: orange;
}

/* Form */
.form__desc {
    text-align: center;
}

.form__agree {
    margin-top: 5px;
    margin-bottom: 25px;
}

.form__btn {
    margin-left: auto;
    width: fit-content;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
}

/**/
.line {
    border: none;
}
.line2 {
    border: 1px solid #b3b3b3;
    margin: 40px 0;
}
.pack__line {
    border: 1px solid #b2b2b2;
}

/* Units */
.text-center {
    text-align: center;
}

.text-orange {
    font-weight: bold;
    color: orange;
}

.bg-orange {
    background: linear-gradient(90deg, #f37324 20.44%, #f58e4e 80.91%), #c4c4c4;
    overflow: hidden;
}

.security__body .content-img {
    position: absolute;
    width: 40%;
    bottom: -50px;
    z-index: 1;
    box-sizing: border-box;
}
.border__title {
    position: relative;
}
.border__pifagor {
    position: absolute;
    top: 0;
    left: 0;
    border: 25px solid transparent;
    border-left: 25px solid #f4823b;
    border-top: 25px solid #f4823b;
}
.new-zero {
    display: grid;
    grid-template-columns: 300px 570px 1fr;
    margin-bottom: 100px;
}
.not-border {
    border-radius: 0 !important;
}
.not-between {
    justify-content: flex-start !important;
}
.form__break {
    display: none;
}
@media screen and (max-width: 400px) {
    .form__break {
        display: block;
    }
    .form__select {
        width: 100%;
    }
}
.new-pack {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 570px 300px;
    align-items: center;
}

.new-pack__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101928;
    margin-left: 70px;
    text-align: left;
}

.new-pack__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #666666;
    margin-left: 70px;
    margin-top: 40px;
}

@media screen and (max-width: 1700px) {
    .new-zero {
        grid-template-columns: 200px 570px 1fr;
    }
    .new-pack {
        grid-template-columns: 1fr 570px 200px;
    }
}
@media screen and (max-width: 1600px) {
    .new-zero {
        grid-template-columns: 150px 570px 1fr;
    }
    .new-pack {
        grid-template-columns: 1fr 570px 150px;
    }
}
@media screen and (max-width: 1400px) {
    .new-zero {
        grid-template-columns: 50px 570px 1fr;
    }
    .new-pack {
        grid-template-columns: 1fr 570px 50px;
    }
}

@media screen and (max-width: 1300px) {
    .new-zero {
        grid-template-columns: 0px 570px 1fr;
    }
    .new-pack {
        grid-template-columns: 1fr 570px 0;
    }
}
@media screen and (max-width: 1200px) {
    .new-pack {
        display: flex;
        flex-direction: column;
    }
    .new-pack__title,
    .new-pack__text {
        margin-left: 30px;
        padding-top: 20px;
    }
    .new-zero {
        display: flex;
        flex-direction: column-reverse;
    }
    .new-zero--left {
        display: none;
    }
    .new-zero__imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .new-zero__logo {
        height: auto !important;
        width: 80% !important;
        margin-right: 0;
        margin: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .new-zero__title {
        display: block;
        text-align: left;
        margin-left: 50px !important;
    }
}
@media screen and (max-width: 450px) {
    .new-zero__title {
        display: block;
        text-align: left;
        margin-left: 50px !important;
        font-size: 24px !important;
        line-height: 20px !important;
    }
}
.new-zero--left {
    width: 300px;
    position: relative;
}
.new-zero--center {
    width: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-zero__subtitle {
    margin-top: 80px;
}
.new-zero__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #666666;
    margin-top: 30px;
}
.new-zero--grey {
    font-weight: 700;
}
.management__ul {
    margin-left: 12px;
}
.new-zero__container {
    width: 50%;
}
.new-zero__title {
    display: block;
    text-align: left;
    margin-left: 100px;
}
.new-zero__btns {
    margin-top: 50px;
}
.new-zero__btns--top {
    display: flex;
    margin-top: 20px;
}
@media screen and (max-width: 450px) {
    .new-zero__btns {
        margin-top: 0px;
    }
    .new-zero__btns--top {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}

.new-zero__btn {
    background: none !important;
    border: 1px solid #f37324;
    color: #f37324;
    padding: 12px 20px;
    font-size: 16px;
    margin-right: 15px;
}

.new-zero__btn:hover {
    background: #f37324 !important;
    color: white;
}

.paket-block__title {
    margin-top: 20px;
}

.paket-block__text {
    margin-top: 10px;
    margin-bottom: 20px;
}
.new-zero__imgs {
    display: flex;
    align-items: center;
}
.new-zero__logo {
    height: 150px;
    margin-right: 20px;
}

.mtz {
    margin-top: 100px !important;
}
.alignz {
    align-items: center !important;
}
@media (min-width: 2000px) {
    .security__body .content-img {
        width: 40%;
        height: initial;
    }

    .security__body .parol {
        width: 30%;
    }
}

@media (min-width: 1900px) and (max-width: 2000px) {
    .security__body .content-img {
        width: 27%;
    }

    .security__body .parol {
        width: 22%;
    }
}

@media (min-width: 1600px) and (max-width: 1900px) {
    .security__body .content-img {
        width: 29%;
        height: 77%;
    }

    .security__body .parol {
        width: 28%;
        height: auto;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .security__body .content-img {
        width: 35%;
        height: initial;
    }

    .security__body .parol {
        width: 30%;
        height: auto;
    }
}

@media (min-width: 1326px) and (max-width: 1400px) {
    .security__body .content-img {
        width: 37%;
        height: initial;
    }

    .security__body .parol {
        width: 32%;
        height: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1326px) {
    .security__body .content-img {
        width: 40%;
        height: initial;
    }

    .security__body .parol {
        width: 32%;
        height: auto;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .security__body .content-img {
        width: 42%;
    }

    .security__body .parol {
        width: 35%;
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .security__body .content-img {
        width: 45%;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .security__body .content-img {
        width: 48%;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    .security__body .content-img {
        width: 50%;
    }
}

@media (min-width: 771px) and (max-width: 800px) {
    .security__body .content-img {
        width: 48%;
    }
}

@media (max-width: 770px) {
    .security__body .content-img {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
}

/* Solutions */
.audit-img {
    width: 50%;
}

@media (min-width: 770px) and (max-width: 810px) {
    .audit-img {
        position: relative;
        top: 35%;
        transform: none;
    }
}

@media (min-width: 811px) and (max-width: 815px) {
    .audit-img {
        transform: translateY(48%);
    }
}

@media (min-width: 815px) {
    .audit-img {
        transform: translateY(38%);
    }
}

@media (min-width: 890px) {
    .audit-img {
        transform: translateY(12%);
    }
}

@media (min-width: 920px) {
    .audit-img {
        transform: translateY(10%);
    }
}

.bg-orange {
    overflow: visible;
    margin-bottom: 150px;
}

/* containers */
.management__title {
    width: 100%;
}

/* Contact */
.ofice__text {
    width: auto;
}

@media (max-width: 767px) {
    .ofice__bg {
        width: 100%;
    }

    .ofice__address {
        margin-top: 10px;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .ofice__bg {
        width: 35%;
    }
}

/* Header image */
.preview .preview--left img {
    /*transform: rotate(4deg);*/
    /*height: 120%;*/
    /*width: 300%;*/
    /*transform: translateX(-20%);*/
    /*left: 180%;*/
}

.preview .preview--center {
    margin-left: 10%;
}

/*.preview .preview--left {*/
/*    height: 50000px;*/
/*    background-repeat: no-repeat;*/
/*}*/

.preview .preview--right {
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.text-uppercase {
    text-transform: uppercase;
}
