.header__drapdown {
    margin-top: 12px;
    pointer-events: none;
}

.header__item:hover .header__drapdown {
    pointer-events: auto !important;
}

.header-side {
    /*opacity: 1;*/
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
    .just-align .container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 1400px) {
    .just-align .container {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (min-width: 1600px) {
    .just-align .container {
        margin-left: 300px;
        margin-right: 300px;
    }
}

/* index -> news */
.news__list .news__text {
    width: 90%;
}

.news__item:hover .news__subtitle {
    font-weight: bold;
    color: orange;
}

/* Form */
.form__desc {
    text-align: center;
}

.form__agree {
    margin-top: 5px;
    margin-bottom: 25px;
}

.form__btn {
    margin-left: auto;
    width: fit-content;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
}

/**/
.line {
    border: none;
}

.pack__line {
    border: 1px solid #b2b2b2;
}

/* Units */
.text-center {
    text-align: center;
}

.text-orange {
    font-weight: bold;
    color: orange;
}

.bg-orange {
    background: linear-gradient(90deg, #f37324 20.44%, #f58e4e 80.91%), #c4c4c4;
    overflow: hidden;
}

.security__body .content-img {
    position: absolute;
    width: 40%;
    bottom: -50px;
    z-index: 1;
    box-sizing: border-box;
}

@media (min-width: 2000px) {
    .security__body .content-img {
        width: 40%;
        height: initial;
    }

    .security__body .parol {
        width: 30%;
    }
}

@media (min-width: 1900px) and (max-width: 2000px) {
    .security__body .content-img {
        width: 27%;
    }

    .security__body .parol {
        width: 22%;
    }
}

@media (min-width: 1600px) and (max-width: 1900px) {
    .security__body .content-img {
        width: 29%;
        height: 77%;
    }

    .security__body .parol {
        width: 28%;
        height: auto;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .security__body .content-img {
        width: 35%;
        height: initial;
    }

    .security__body .parol {
        width: 30%;
        height: auto;
    }
}

@media (min-width: 1326px) and (max-width: 1400px) {
    .security__body .content-img {
        width: 37%;
        height: initial;
    }

    .security__body .parol {
        width: 32%;
        height: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1326px) {
    .security__body .content-img {
        width: 40%;
        height: initial;
    }

    .security__body .parol {
        width: 32%;
        height: auto;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .security__body .content-img {
        width: 42%;
    }

    .security__body .parol {
        width: 35%;
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .security__body .content-img {
        width: 45%;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .security__body .content-img {
        width: 48%;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    .security__body .content-img {
        width: 50%;
    }
}

@media (min-width: 771px) and (max-width: 800px) {
    .security__body .content-img {
        width: 48%;
    }
}

@media (max-width: 770px) {
    .security__body .content-img {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
}

/* Solutions */
.audit-img {
    width: 50%;
}

@media (min-width: 770px) and (max-width: 810px) {
    .audit-img {
        position: relative;
        top: 35%;
        transform: none;
    }
}

@media (min-width: 811px) and (max-width: 815px) {
    .audit-img {
        transform: translateY(48%);
    }
}

@media (min-width: 815px) {
    .audit-img {
        transform: translateY(38%);
    }
}

@media (min-width: 890px) {
    .audit-img {
        transform: translateY(12%);
    }
}

@media (min-width: 920px) {
    .audit-img {
        transform: translateY(10%);
    }
}

.bg-orange {
    overflow: visible;
    margin-bottom: 150px;
}

/* containers */
.management__title {
    width: 100%;
}


/* Contact */
.ofice__text {
    width: auto;
}

@media (max-width: 767px) {
    .ofice__bg {
        width: 100%;
    }

    .ofice__address {
        margin-top: 10px;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .ofice__bg {
        width: 35%;
    }
}

/* Header image */
.preview img {
    /*height: 0;*/
}
