.header__drapdown {
    margin-top: 12px;
    pointer-events: none;
}

.header__item:hover .header__drapdown {
    pointer-events: auto !important;
}

.header-side {
    /*opacity: 1;*/
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
    .desc .container,
    .security .container {
        margin-left: 100px;
    }
}

@media (min-width: 1400px) {
    .desc .container,
    .security .container {
        margin-left: 200px;
    }
}

@media (min-width: 1600px) {
    .desc .container,
    .security .container {
        margin-left: 300px;
    }
}

.content-div {
    grid-template-columns: 40% 1fr;
}

.best-4 {
    height: 850px;
}

.bast-2 {
    height: 1150px;
}

.content-product {
    grid-template-columns: 30% 1fr;
}
